
@import url("https://fonts.googleapis.com/css?family=Arsenal");


.app {
  width: 100%;
}

.backdrop {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-image: url(./components/backdrop.jpg);
  height: 600px;
  width: 100%;
  margin-bottom: 65px;
}
.diamond-container {
  width: 100%;
  justify-content: space-around;
  position: relative;
  top: 75px;
  display: flex;
}
.diamond {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #868183;
  box-sizing: border-box;
   width: 150px;
   height: 150px;
   background-color: #2d2d2d;
   transform: rotate(45deg);
}

.diamond p {
  transform: rotate(-45deg);
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2d2d2d;
  height: auto;
  width: 100%;
}

.nav {
  z-index: 2;
  font-weight: 600;
  font-family: 'Arsenal', sans-serif;
  opacity: .8;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
  background-color: white;
   overflow: hidden;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 50px;
}

.splash-title {
  font-size: 2rem;

  display: flex;
  align-items: center;
justify-content: center;
  position: absolute;
  align-self: center;
  width: 50%;
  height: 200px;
}

/* // CONTACT CARD // */
.contact-card {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 320px;
  height: auto;
}
.profile {
  display: flex;
  justify-content: space-around;
  height: 175px;
  background-color: white;
  min-width: 100%;
  padding: 1rem;
}

.profile-pic {
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
  height: 65px;
  min-width: 65px;
  background-color: black;
  border-radius: 50%;
  padding: 1rem;
}

.profile-text {
  width: 75%;
  padding: 1rem;
}

.contact-me {
  z-index: 1;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2d2d2d;
  align-self: flex-end;
  position: relative;
  top: -32.5px;
  left: 3px;
  height: 65px;
  width: 65px;
  background-color: white;
  transform: rotate(45deg);
  box-sizing: border-box;
  border: solid 1px #2d2d2d;
}

.contact-me p {
    transform: rotate(-45deg);
}

.bottom-bar {
  position: relative;
  top: -65px;
  height: 32.5px;
  background-color: #d4d8db;
  width: 100%;
  padding-left: 2rem;
}

.email {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  width: 100%;
  background-color: white;
  padding: 1rem;
  margin-bottom: 1rem;
}

.contact-email {
  width: 65px;
  height: 65px;
  background-color: black;
  border-radius: 50%;
}

.contact-text {
  width: 65%;
  padding: 1rem;
}

.linkedin {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  width: 100%;
  background-color: white;
  padding: 1rem;
    margin-bottom: 1rem;
}

.contact-linkedin {
    width: 65px;
    height: 65px;
    background-color: black;
    border-radius: 50%;
}