
@import url("https://fonts.googleapis.com/css?family=Arsenal");


.app {
  width: 100%;
}

.backdrop {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-image: url(./components/backdrop.jpg);
  height: 1000px;
  width: 100%;
  margin-bottom: 65px;
}

.bold {
  font-weight: 600;

}
.diamond-container {
  width: 100%;
  justify-content: space-around;
  position: relative;
  top: 75px;
  display: flex;
}
.diamond {
    box-shadow: 0px 3px 15px rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #868183;
  box-sizing: border-box;
   width: 150px;
   height: 150px;
   border: 1px solid #2d2d2d;
   transform: rotate(45deg);
}

.diamond p {
  transform: rotate(-45deg);
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2d2d2d;
  height: auto;
  width: 100%;

}

.nav {
  z-index: 2;
  font-weight: 600;
  font-family: 'Arsenal', sans-serif;
  opacity: .8;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
  background-color: white;
   overflow: hidden;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 50px;
}

.nav-links {
  display: flex;
  align-self: flex-end;
  width: 20%;
  justify-content: space-around;
}

.title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.nav-diamond {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background-color: #2d2d2d;
  margin: 0 1rem 0 1rem;
}

.splash-title {
    box-shadow: 0px 3px 15px rgba(0,0,0,0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: rotate(45deg);
  border: 1px solid #2d2d2d;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
justify-content: center;
  position: absolute;
  align-self: center;
  width: 300px;
  height: 300px;
}

.splash-title p {
  transform: rotate(-45deg);
}

/* // CONTACT CARD // */
.contact-card {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 320px;
  height: auto;
}
.profile {
      box-shadow: 0px 3px 15px rgba(0,0,0,0.5);
  display: flex;
  justify-content: space-around;
  height: 175px;
  background-color: white;
  min-width: 100%;
  padding: 1rem;
}

.profile-pic {
    box-shadow: 0px 3px 15px rgba(0,0,0,0.5);
  height: 65px;
  min-width: 65px;
  background-image: url(./components/ted1.jpg);
  background-size: cover;
  border-radius: 50%;
  padding: 1rem;
}

.profile-text {
  width: 75%;
  padding: 1rem;
}

.contact-me {
  z-index: 1;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2d2d2d;
  align-self: flex-end;
  position: relative;
  top: -32.5px;
  left: 3px;
  height: 65px;
  width: 65px;
  background-color: white;
  transform: rotate(45deg);
  box-sizing: border-box;
  border: solid 1px #2d2d2d;
}

.contact-me p {
    transform: rotate(-45deg);
}

.bottom-bar {
  position: relative;
  top: -65px;
  height: 32.5px;
  background-color: #d4d8db;
  width: 100%;
  padding-left: 2rem;
}

.email {
      box-shadow: 0px 3px 15px rgba(0,0,0,0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  width: 100%;
  background-color: white;
  padding: 1rem;
  margin-bottom: 1rem;
}

.contact-email {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background-image: url(./components/gmail.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contact-text {
  width: 65%;
  padding: 1rem;
}

.linkedin {
      box-shadow: 0px 3px 15px rgba(0,0,0,0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  width: 100%;
  background-color: white;
  padding: 1rem;
    margin-bottom: 65px;
}

.contact-linkedin {
    width: 65px;
    height: 65px;
    background-image: url(./components/linkedin.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
}

.projects-container {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 800px;
  width: 100%;
  background-image: url(./components/backdrop2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.project-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card-box {
  width: 320px;
  margin: 1rem;
}

.projects-container h3 {
  color: black;
  font-size: 2rem;
}

.projects {
  display: flex;
  justify-content: center;
  width: 100%;

}

.project {
  box-shadow: 0px 3px 15px rgba(0,0,0,0.5);
  display: flex;
  height: 250px;
  width: 33%;
  min-width: 320px;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 1rem;
}

.project-description {
padding-left: 1rem;
width: 50%;
height: inherit;
}

.project-description h3 {
  color: white;
    font-size: 1.5rem;
}

.project-pic {
  height: inherit;
  width: 50%;
  background-image: url(./components/doctor-code.JPG);
  background-position: center;
  background-repeat: no-repeat;

}
