
@import url("https://fonts.googleapis.com/css?family=Arsenal");


.app {
  width: 100%;
}

.backdrop {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-image: url(./components/backdrop.jpg);
  height: 600px;
  width: 100%;
}
.diamond-container {
  width: 100%;
  justify-content: space-around;
  position: relative;
  top: 75px;
  display: flex;
}
.diamond {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #868183;
  box-sizing: border-box;
   width: 150px;
   height: 150px;
   background-color: #2d2d2d;
   transform: rotate(45deg);
}

.diamond p {
  transform: rotate(-45deg);
}

.main-container {
  background-color: #2d2d2d;
  height: 300px;
  width: 100%;
}

.nav {
  z-index: 1;
  font-weight: 600;
  font-family: 'Arsenal', sans-serif;
  opacity: .8;
  box-shadow: 0px 2px 2px #afb4b8;
  background-color: white;
   overflow: hidden;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 50px;
}

.splash-title {
  font-size: 2rem;

  display: flex;
  align-items: center;
justify-content: center;
  position: absolute;
  align-self: center;
  width: 50%;
  height: 200px;
}